services:

    Locastic\SyliusRitamIntegrationPlugin\Controller\:
        resource: '../../Controller'
        public: true
        tags: ['controller.service_arguments']
    # Service
    locatic_sylius_ritam_integration_plugin.ritam_api_handler:
        public: true
        class: Locastic\SyliusRitamIntegrationPlugin\Service\RitamApiHandler
        arguments:
            - '%ritam_api_host%'
            - '%ritam_api_version%'
            - '%ritam_api_username%'
            - '%ritam_api_secret%'

    locatic_sylius_ritam_integration_plugin.product_import_handler:
        public: true
        class: Locastic\SyliusRitamIntegrationPlugin\Service\ProductImportHandler
        arguments:
            - "@locatic_sylius_ritam_integration_plugin.factory.product"
            - "@sylius.repository.product"
            - "@sylius.factory.channel_pricing"
            - "%default_import_channel%"

    locatic_sylius_ritam_integration_plugin.product_stock_import_handler:
        public: true
        class: Locastic\SyliusRitamIntegrationPlugin\Service\ProductStockImportHandler
        arguments:
            - "@sylius.repository.product"

    locatic_sylius_ritam_integration_plugin.product_prices_import_handler:
        public: true
        class: Locastic\SyliusRitamIntegrationPlugin\Service\ProductPricesImportHandler
        arguments:
            - "@sylius.repository.product"
            - "@sylius.factory.channel_pricing"

    # Command
    locatic_sylius_ritam_integration_plugin.command.import_products:
        class: Locastic\SyliusRitamIntegrationPlugin\Command\ImportProductsCommand
        arguments:
            - "@locatic_sylius_ritam_integration_plugin.ritam_api_handler"
            - "@locatic_sylius_ritam_integration_plugin.product_import_handler"
        tags:
            - { name: 'console.command' }

    locatic_sylius_ritam_integration_plugin.command.import_stock:
        class: Locastic\SyliusRitamIntegrationPlugin\Command\ImportProductStockCommand
        arguments:
            - "@locatic_sylius_ritam_integration_plugin.ritam_api_handler"
            - "@locatic_sylius_ritam_integration_plugin.product_stock_import_handler"
        tags:
            - { name: 'console.command' }

    locatic_sylius_ritam_integration_plugin.command.import_prices:
        class: Locastic\SyliusRitamIntegrationPlugin\Command\ImportProductPricesCommand
        arguments:
            - "@locatic_sylius_ritam_integration_plugin.ritam_api_handler"
            - "@locatic_sylius_ritam_integration_plugin.product_prices_import_handler"
        tags:
            - { name: 'console.command' }

    # Factory
    locatic_sylius_ritam_integration_plugin.factory.product:
        class: Locastic\SyliusRitamIntegrationPlugin\Factory\AddProductFromRitamFactory
        decorates: sylius.factory.product
        arguments:
            - '@locatic_sylius_ritam_integration_plugin.factory.product.inner'
            - '%default_import_locale%'
        public: false

    locatic_sylius_ritam_integration_plugin.factory.channel_pricing:
        class: Locastic\SyliusRitamIntegrationPlugin\Factory\AddChannelPricingFromRitamFactory
        decorates: sylius.factory.channel_pricing
        arguments:
            - '@locatic_sylius_ritam_integration_plugin.factory.channel_pricing.inner'
            - '%default_import_channel%'
        public: false

    # Subscriber
    locatic_sylius_ritam_integration_plugin.subscriber.sluggable:
        class: Locastic\SyliusRitamIntegrationPlugin\EventSubscriber\SluggableEventSubscriber
        arguments: ["@sylius.generator.slug"]
        tags: [{ name: doctrine.event_subscriber, connection: default }]

    # Listener
    locatic_sylius_ritam_integration_plugin.listener.taxon:
        class: Locastic\SyliusRitamIntegrationPlugin\EventListener\TaxonEventListener
        arguments:
            - "@sylius.repository.taxon"
            - "@sylius.factory.product_taxon"
            - "%default_import_taxon%"
        tags: [{ name: doctrine.event_listener, event: prePersist, connection: default }]

    locatic_sylius_ritam_integration_plugin.listener.channel:
        class: Locastic\SyliusRitamIntegrationPlugin\EventListener\ChannelEventListener
        arguments:
            - "@sylius.repository.channel"
            - "%default_import_channel%"
        tags: [{ name: doctrine.event_listener, event: prePersist, connection: default }]