parameters:
    ritam_api_host: "%env(RITAM_API_HOST)%"
    ritam_api_version: "%env(RITAM_API_VERSION)%"
    ritam_api_secret: "%env(RITAM_API_SECRET)%"
    ritam_api_username: "%env(RITAM_API_USERNAME)%"
    default_import_locale: "%env(DEFAULT_IMPORT_LOCALE)%"

    env(RITAM_API_HOST): 'http://webservice.ritam.hr:8920'
    env(RITAM_API_VERSION): '/rest/api/v1'
    env(RITAM_API_SECRET): '~'
    env(RITAM_API_USERNAME): '~'
    env(DEFAULT_IMPORT_LOCALE): 'hr_HR'